body {
  width: 100%;
  height: 100%;
}

a {
  padding: 10px;
  background-color: #F0F8FF;
}

header{
  margin: auto;
  text-align: center;
}

#featured-property {
  margin: auto;
  text-align: center;
}

#featured-property p {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

figcaption {
  font-size: 12px;
}

#details {
  display: block;
}

#details div {
  float: left;
  width: 25%;
  background-color: red;
}

#details a {
    background-color: transparent;
}
}